h1, h2 {
    color:white;
    font-family:courier;
    font-size:200%;
    text-shadow:5px 5px 9px pink;
}

input, label {
    display:block;
    font-family:courier;
}

label, input[type="submit"]{
    margin-top: 10px;
    margin-bottom: 10px;
    color:dark red;
    font-family:courier;
}

label, value[type="create"]{
    font-family:courier
}

body {
    background-color: grey;
}
