h1 {
    color:#d8d8d8;
    font-family:'courier new';
    font-size:520%;
    text-shadow:5px 5px 6px black;
    margin-left: -20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

h1.responsive-text{
    font-size: 3vw;
}

h2, h3 {
    color:#d8d8d8;
    font-family:'courier new';
    font-size:140%;
    text-shadow:5px 5px 6px black;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 80px;
}

*h2.responsive-text{
    font-size: 3vw;
}

body {
    background-color: #c9c9c9;
    margin-left: 30px;
}

@media (min-width: 500px) {}

#post {
    height: 200px;
    width: 340px;
    float:;
    background-color: #c9c9c9;
    border-color: #5D5D5D;
    font-family:'courier new';
}

#post.responsive-text{
    font-size: 3vw;
}

button{
    font-family:'Courier New'; font-size:15px; color: #5D5D5D;
    background-color: #c9c9c9;
}

div {
    font-family:'Courier New'; font-size:20px; color: #5D5D5D;
    }

footer {
        font-family:'Courier New'; font-size:20px; color: red;
}

footer.responsive-text{
    font-size: 3vw;
}
