h1 {
    color:white;
    font-family:courier;
    font-size:250%;
    text-shadow:5px 5px 9px black;
}

h2, h3 {
    color:white;
    font-family:courier;
    font-size:150%;
    text-shadow:5px 5px 9px black;
}

input, label {
    display:block;
    font-family:courier;
}

label, input[type="submit"]{
    margin-top: 10px;
    margin-bottom: 10px;
    color:dark red;
    font-family:courier;
}

body {
    background-color: grey;
}
